*{
    padding: 0;
    margin: 0;
    box-sizing: 0;

}

/* header */
.titolo{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    
    
}
#logo{
    width: 70px;
    height: 70px;
}
h1{
    display: inline-block;
    font-size: 70px;
    vertical-align: text-bottom;
}
/* header completato */