*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}
/* header */
header{
    background-color: white;
}
.titolo{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 30px;
    
    
}
#logo{
    width: 70px;
    height: 70px;
}
h1{
    display: inline-block;
    font-size: 70px;
    vertical-align: text-bottom;
}
/* header completato */
/* INIZIAMO MAIN */
/* sezione 1 */
#sezione1{
    background-color: white;
    margin-top: 40px;
    margin-left:400px;
    margin-right:400px;
    margin-bottom: 1px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;


}
.buttone{
    padding: 5px 5px;
    border-radius: 10px;
    font-size: large;
}
.blue{
    color: white;
    background-color:rgb(111, 181, 221);
    border-color:rgb(111, 181, 221);
}
.bianco{
    color: lightgray;
    background-color: white;
    border-color: lightgrey;
}
/* sezione 1 finita */
/* SEZIONE 2 */
section{
    background-color: white;
    margin-left:400px;
    margin-right:400px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;

}
#sezione1{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.lista{
    padding: 20px;
}

h2{
    font-size: 35px;
    padding: 5px;
}
span{
    font-size: 25px;
    margin: 10px;
    
    
}
/* COLORE DI VERO E FALSO */
.vero{
    color: rgb(154, 194, 154);
    border-style: solid;
    border-radius: 50%;   
}
.negativo{
    color: red;
    border-style: solid;
    border-radius: 50%;
}
/* COLORI DEL TASTO */
.tasto{
    color: white;
    padding: 10px;
    border-radius: 40px;
}
.azzurro{
    background-color: rgb(55, 147, 184);
}
.viola{
    background-color: rgb(78, 19, 105);
}
.verdeacqua{
    background-color: rgb(12, 138, 121);
}
.ciano{
    background-color: coral;
}
.fucsia{
    background-color: darkmagenta;
}
.senape{
    background-color: rgb(110, 184, 36);

}